/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
.highlight pre, .highlight code {
    font-size: 75%;
}

.input_area pre, .input_area {
    font-size: 75%;
}

p code {
    font-size: 75%;
}


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
