---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content | markdownify }}
</div>

<!-- Posts Index ================================================== -->
<h2> Contenido destacado </h2>

<section class="recent-posts">
  <div class="row listrecent">
      {% for post in site.posts %}
        {% if post.featured == true %}
          {% if post.hide == false %}
            {% include mediumify_postbox.html %}
          {% endif %}
        {% endif %}
      {% endfor %}
  </div>
</section>

<!-- Featured content ================================================== -->
<h2> Últimos escritos </h2>
{% assign featured_posts = ''|split:'' %}
{% for post in site.posts %}
  {% if post.hide != true %}
    {% assign featured_posts = featured_posts|push:post%}
  {% endif %}
{% endfor %}

<section class="recent-posts">
  <div class="row listrecent">
      {% for post in featured_posts | slice 0, 3 %}
            {% include mediumify_postbox.html %}
      {% endfor %}
  </div>
</section>