---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content | markdownify }}

  <div class="button-group filter-button-group justify-content-center">
    <a class="btn btn-sm btn-primary active" data-filter="*">All</a>
    <a class="btn btn-sm btn-primary" data-filter=".notebook">Notebook</a>
    <a class="btn btn-sm btn-primary" data-filter=".post">No ficción</a>
    <a class="btn btn-sm btn-primary" data-filter=".story">Ficción</a>
  </div>

  <!-- Assign all posts to variable -->
  {% assign rawposts = site.posts %}

  <!-- Hide posts if front matter flag hide:true -->
  {% assign posts = ''|split:'' %}
  {% for post in rawposts %}
    {% if post.hide != true %}
      {% if post.layout != "book-review" %}
        {% assign posts = posts|push:post%}
      {% endif %}
    {% endif %}
  {% endfor %}

  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      {%- if site.show_image -%}
          {%- include post_list_image_card.html -%}
      {% else %}
          {%- include post_list.html -%}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <div class="grid">
    {% for project in posts %}
       <div class="col-md-4 col-sm-6 portfolio-item {{ project.categories }}">
          <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
            <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
          </a>
       </div>
    {% endfor %}
  </div>

</div>